* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  background-color: red;
}
.container {
  background-color: blue
  ;
  color: #666666;
  width: 90%;
  margin: 20px auto;
  
}

/* El contenedor flex para la primera fila de contenido */
.content_wrapper {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-bottom: 1em;
}

header {
  margin-bottom: 1em;
  margin-bottom: 1px solid #666666;
  width: 100%;
  text-align: center;
}

/* El menú */
nav {
 width: 10%;
  padding: 1em;
}

nav div {
  margin-bottom: 20px;
}

/* El elemento principal */
main {
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  width: 54%;
  padding: 1em;
}

main img {
 width: 80%;
 height: 70%;
}

.content_wrapper article:nth-of-type(1) {
 
}

/* Artículo. Imágenes pequeñas */
article {
 width: 32%;
 border: 1px solid #aaaaaa;
 border-radius: 1em;
 text-align: center;
 margin-bottom: 1em;
 padding: 1em;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 8%;
}

article img {
  height: 60%;
  width: 100%;
}

/* Pie de la página */
/* Pie de la página */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}

footer img {
  width: 20px;
}




