.container {
    background-color:#2D3E50 ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px auto;
    width: 90%;
  }
  .container img {
    height: 4%;
    width: 4%;
    border-radius: 10%;
    float: left;
   }
   .container nav {
    background-color: #C0392B;
    float: right;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: -webkit-sticky; /*Movida pa que no se mueva el menu*/
    position: sticky;/*Lo mismo de arriba*/
    display: flex; /* Aplica Flexbox para organizar en fila */
    gap: 50px; /* Espaciado entre las filas */
    padding: 10px; /* Medidas de nuestro cuadrito */
    
   }
   