
Body {
    background-color: #000000;
    color: rgb(0, 178, 157);
    text-align: center;

}

#header nav, ul{
    background: rgba(148, 1, 38, 0.7);
    background-color: 4E001C;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#Menu nav, ul{
  font-family: old english;
}

nav{
    float: center;
}

nav ul {
    list-style: none;
    overflow: hidden; 
  }

  nav ul li {
    float: left;
    font-family: old english;
    font-size: 20px;
  }

nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }

nav ul li:hover {
    background: #930034;
    border-radius: 20%;
}

#logo {
    background-color: #000000;
}
