/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
  
  /* RESETEO LIMITADO DE PROPIEDADES */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
      
  }
  
  /* Estilo para las fuentes en toda la página */
  body {
    color: #121867;
    font-family: "Lato", sans-serif;
    font-weight: bolder;
  }
  
  /* Establecemos el centrado y las dimensiones de los elementos principales */
  nav,.container,footer {
    max-width: 1200px;
    min-width: 576px;
    margin:0px auto;
  }
  
  
  
  /* Estilos para el menú principal */
  nav {
    background-color: #121867;
    color: rgb(243, 55, 132);
    font-size: 1.4;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    overflow-y: auto;
    top: 0px;
    z-index: 100;
  }
  
  nav div {
    float: left;
    margin-left: 20px;
    padding: 5px;
  }
  
  /* Estilos para la cabecera */
  header {
    position: relative;
    text-align: center;
  }
  
  /* Fondo de la cabecera */
  header img {
    opacity: 0.7;
    width: 100%;
  }
  
  
  /* Call for action para Comprar */
  aside {
    background-color: #121867;
    border-radius: 20px;
    color: rgb(243, 55, 132);
    padding: 10px;
    position: absolute;
    right: 15%;
    text-align: center;
    top: 30%;
    width: 20%;
  }
  
  aside a {
    background-color: rgb(243, 55, 132);
    border-radius: 10px;
    color: white;
    margin-top: 40px;
    padding: 10px;
    text-decoration: none;
  }
  
  aside h3 {
    margin: 20px 0px;
  }
  
  /* Elemento principal con las 3 cards */
  main {
    margin: 0px auto;
    width: 80%;
  }
  main h1 {
    text-align: center;
  }
  
  /* Línea separados de elementos */
  main h1::after,
  main:after {
    background-color: rgb(243, 55, 132);
    display: block;
    content: " ";
    height: 2px;
    width: 30%;
    margin: 0px auto;
    margin-top: 30px;
  }
  
  /* Estilos para la zona de las cards */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 20px; /* Espaciado entre las tarjetas */
    text-align: center;
  }
  .cards .card {
    padding: 20px;
  }
  
  .cards .card img {
    width: 50%;
  }
  
  
  /* Sección con la botella y los tres párrafos descriptivos */
  .bottle {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Imagen a la izquierda y texto a la derecha */
    align-items: center;
    gap: 20px; /* Espaciado entre columnas */
    margin: 30px auto;
    width: 70%;
  }

  .bottle img {
    width: 100%; /* La imagen ocupa toda su celda */
  }
  
  .bottle div {
    text-align: justify;
  }

  /* Mostrarmos la primera letra con un borde diferente */
  .bottle div::first-letter {
    border-right: 1px solid #121867;
    border-bottom: 1px solid #121867;
    color: rgb(243, 55, 132);
    font-size: 2em;
    font-weight: bolder;
    margin-right: 10px;
    padding-right: 10px;
  }
  
  
  /* Estilos para la galería de imágenes */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajustable a la pantalla */
    gap: 10px;
    margin: 20px auto;
    width: 70%;
  }
  .gallery img {
    width: 100%; /* La imagen ocupa toda su celda */
  }
  
  
  /* Estilos para el pie de página */
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Dirección, contenido central y sección */
    align-items: center;
    gap: 20px;
    background-color: #121867;
    color: rgb(243, 55, 132);
    font-weight: bolder;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: 20px;
  }
  
  footer address {
    grid-column: 1;
  }
  
  footer div {
    text-align: center;
    grid-column: 2;
  }
  
  footer section {
    text-align: center;
    grid-column: 3;
  }
  
  footer img {
    width: 12%;
  }