*{
    box-sizing: border-box;
}

.container {
    background-color:  #1A1A1A;/*PREGUNTAR*/
}

header {
    top: 0px; /* Ajusta la posición vertical */
    left: 0;
    width: 100%; /* Ajusta el tamaño del header */
    height: 50px;
    background-color: #8669D4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow: hidden; /*Evita que el contenido sobresalga */
}


body {
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.logo {

    width: 200px;
    height: 50px;
    margin-left: 20px;
  
}

.menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    height: 50px;
    margin-top: 10px;
}

.menu ul {
    list-style: none; /* Eliminar viñetas */
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar relleno */
    display: flex; /* Menú horizontal */
    margin-left: 1300px;
    gap: 20px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
    text-decoration: none; /* Sin subrayado */
    color: #8669D4; /* Color de texto */
    font-size: 2rem; /* Tamaño del texto */
    transition: color 0.3s ease; /* Efecto suave al pasar el cursor */
}

.menu ul li a:hover {
    color: #3DC193; /* Cambiar color al pasar el cursor */
}

.cartel{
    margin-left: 55px;
    border-radius: 10px;
    height: 900px;
    width: 800px;
}

