*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color:  #1A1A1A;
}

header {
    width: 100%; /* Ajusta el tamaño del header */
    height: 50px;
    background-color: #8669D4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow: hidden; /*Evita que el contenido sobresalga */
}


body {
    width: 100%;
    background-color:  #1A1A1A;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.logo {

    width: 200px;
    height: 50px;
    margin-left: 20px;
  
}

.menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    height: 50px;
    margin-top: 10px;
}

.menu ul {
    list-style: none; /* Eliminar viñetas */
    display: flex; /* Menú horizontal */
    margin-left: 1200px;
    gap: 20px; /* Espaciado entre elementos del menú */
}

.menu ul li a {
    
    text-decoration: none; /* Sin subrayado */
    color: #8669D4; /* Color de texto */
    font-size: 2rem; /* Tamaño del texto */
    transition: color 0.3s ease; /* Efecto suave al pasar el cursor */
}

.menu ul li a:hover {
    color: #3DC193; /* Cambiar color al pasar el cursor */
}

.contenedorcartel {
    display: flex; /* Usamos flexbox para organizar en fila */
    gap: 10px; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alineación vertical al inicio */
    flex-direction: row;
    padding: 20px; /* Opcional, para dar espacio interno */
    width: 100%;
}

.cartelprinc {
    height: 900px;
    width: 800px;
    margin-top: 50px; /* Si necesitas margen adicional arriba */
    border-radius: 10px;
    flex-shrink: 0; /* Evita que el cartel reduzca su tamaño */
    margin-left: 100px;
}

.informacion {
    font-size: 20px;
    line-height: 1.6; /* Tamaño de línea */
    padding: 200px; /* Espaciado interno */
    color: #3DC193;
    flex-grow: 1; /* Hace que la información ocupe el espacio restante */
    text-align: center;
}

.contenedorabonos {
    width: 100%;
    display: flex; /* Usamos flexbox para organizar en fila */
    gap: 10px; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alineación vertical al inicio */
    padding: 50px; /* Opcional, para dar espacio interno */
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contenedorabonos img {
    border-radius: 10px;
    height: 400px;
    width: 100%;
    
}

.infoabonos{
    display: flex;
    width: 100%;
    font-size: 40px;
    color: #8669D4;
    gap: 122px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}